.row
  .col-md-3
    %h3 Reality

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th Position
          %th Team
      %tbody
        - @real.each do |real|
          %tr
            %td= real.position
            %td= real.team

    %p Table last updated: #{@real.first.fetched.to_human}

  - @people.each do |person|
    .col-md-3
      %h3= person.name

      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th Position
            %th Team
            %th Difference
        %tbody
          - person.predictions.each do |p|
            %tr
              %td= p.position
              %td= p.team
              %td(align="right")= p.difference
        %tfoot
          %tr.active
            %th(colspan="2" align="right") Total
            %td(align="right")
              %b= person.predictions_score

