.row
  .col-md-6
    %p
      One point is awarded for every place different from reality you are. So, if you predict Chelsea will finish second and they finish third, that's one point; if you predict Norwich will finish 15th and they finish tenth, that's five points.
  .col-md-6
    %p
      A perfectly predicted table scores zero points, so the lowest score wins.
    %p
      Double points are awarded for the champions and the relegation places, so get them right.

.row
  .col-md-3
    %h3 Reality

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th Position
          %th Team
      %tbody
        - @real.each do |real|
          - case real.position
            - when 1
              %tr(class="success")
                %td= real.position
                %td= real.team
            - when 18..20
              %tr(class="danger")
                %td= real.position
                %td= real.team
            - else
              %tr
                %td= real.position
                %td= real.team

    %p Table last updated: #{@real.first.fetched.to_human}

  - @people.each do |person|
    .col-md-3
      %h3= person.name

      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th Position
            %th Team
            %th Difference
        %tbody
          - person.predictions.each do |p|
            - case p.position
              - when 1
                %tr(class="success")
                  %td= p.position
                  %td= p.team
                  %td(align="right")= p.difference
              - when 18..20
                %tr(class="danger")
                  %td= p.position
                  %td= p.team
                  %td(align="right")= p.difference
              - else
                %tr
                  %td= p.position
                  %td= p.team
                  %td(align="right")= p.difference
        %tfoot
          %tr.active
            %th(colspan="2" align="right") Total
            %td(align="right")
              %b= person.predictions_score

